.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  flex-direction: row;
  --gap: clamp(1rem, 5vw, 3rem);
  --underline-gap: 2rem;
  padding: 0;
  padding-inline: clamp(1rem, 4vw, 3rem);
  margin: 0;
  list-style: none;
  background: hsl(var(--color-dark) / 0.85);
}

@supports (backdrop-filter: blur(2rem)) {
  .primary-navigation {
    background: hsl(var(--color-white) / 0.05);
    backdrop-filter: blur(2rem);
  }
}

/* Primary-header */
.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

@media (max-width: 35rem) {
  .primary-navigation {
    display: hidden;
    --gap: 1rem;
    --underline-gap: 0.5rem;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 2;
    padding: min(20rem, 15vh) 2rem;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .primary-navigation.underline-indicators > * {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: 2rem;
    right: 1rem;
    z-index: 4;
    aspect-ratio: 1;
    width: 1.5rem;
    border: 0;
    background: url("./../../assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .mobile-nav-toggle[data-visible="true"] {
    background: url("./../../assets/shared/icon-close.svg");
    background-repeat: no-repeat;
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid #fff;
    outline-offset: 5px;
  }
}

@media (min-width: 35rem) {
  .primary-navigation {
    padding-inline: clamp(1rem, 4vw, 7rem);
  }

  .primary-navigation a {
    padding: 2rem 0;
  }
}

@media (min-width: 35rem) and (max-width: 44.99rem) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45rem) {
  .primary-header::after {
    content: "";
    display: block;
    width: 250%;
    height: 1px;
    background: hsl(var(--color-white) / 0.25);
    position: relative;
    margin-right: -2.5rem;
    order: 1;
  }

  .logo {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
  }

  nav {
    order: 2;
  }

  .primary-navigation {
    margin-block: 2rem;
  }
}
